<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>A propos</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<link rel="stylesheet" type="text/css" href="/views/style.css" />
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="/views/iecss.css" />
<![endif]-->
</head>
<body>
<div id="main_container">
  <div class="top_illustration"></div>
  <div id="header">
    <div class="logo"> <img src="/views/images/logo.jpeg" alt="logo doodle" border="0" /> </div>
  </div>
  <div id="menu_tab">
    <ul class="menu" style="margin-right: 10%;">
      <li><a href="/doodle" class="nav"> Home </a></li>
      <li class="divider"></li>
      <li><a href="/doodle/creation" class="nav"> Doodle</a></li>
      <li class="divider"></li>
      <li><a href="/doodle/aide" class="nav"> Aide</a></li>
      <li class="divider"></li>
      <li><a href="/doodle/about" class="nav_selected"> À propos </a></li>
    </ul>
  </div>
  <div id="main_content">
    <div id="middle_banner">
      <div class="middle_banner_content"> <img src="/views/images/banner_content.png" alt="" width="417" height="142" /> </div>
    </div>
    <div id="left_content">
      <h1>À propos de cette copie de Doodle</h1>
	  <p>Cette application WEB a été développée dans le cadre du projet de développement WEB. Elle possède les fonctionnalités essentielles du système Doodle crée par Google il y a quelques années.</p>
	  </br>
	  <p>Le site original qui a inspiré l'idée de ce projet est disponible à l'adresse suivante : <a href="http://doodle.com/fr/">http://doodle.com</a>.</p>
	  </br>
	  <h1>Contact Information</h1>
      <p style="line-height:18px;"> <span>Adresse:</span> ESIEA Paris, 9 Rue Vesale, 75005 Paris<br />
        <span>Phone : </span> 06 ** ** ** ** / 06 ** ** ** **<br />
        <span>Fax : </span> 06 ** ** ** ** / 06 ** ** ** **<br />
        <span>Email: </span> adresse_bidon_projet@gmail.com<br />
      </p>
    </div>
    <div id="right_content">
      <h1>Avantages</h1>
      <p class="news"> <img src="/views/images/icon4.png" alt="" class="left_img"  width="48" height="48" /> Utilise node.js pour fonctionner rendant cette application WEB très fluide. </p>
      <p class="news"> <img src="/views/images/icon4.png" alt="" class="left_img" width="48" height="48" /> Possibilités de récupérer tout le contenu statistique des sondages sous forme de texte et d'images. </p>
      <p class="news"> <img src="/views/images/icon4.png" alt="" class="left_img" width="48" height="48" /> Interface intuitive et épurée le plus possible pour une utilisation simple et agréable. </p>
      <p class="news"> <img src="/views/images/icon4.png" alt="" class="left_img" width="48" height="48" /> Utilisation de modules populaires lors de l'implémentation de cette application WEB. </p>
    </div>
    <div id="footer">Project WEB Design &copy; 2014 <br />
      By <a style="color: #FF6600; text-decoration:underline;">Project Team</a> </div>
  </div>
</div>
</body>
</html>
