<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Aide</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<link rel="stylesheet" type="text/css" href="/views/style.css" />
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="/views/iecss.css" />
<![endif]-->
</head>
<body>
<div id="main_container">
  <div class="top_illustration"></div>
  <div id="header">
    <div class="logo"> <img src="/views/images/logo.jpeg" alt="logo doodle" border="0" /> </div>
  </div>
  <div id="menu_tab">
    <ul class="menu" style="margin-right: 10%;">
      <li><a href="/doodle" class="nav"> Home </a></li>
      <li class="divider"></li>
      <li><a href="/doodle/creation" class="nav"> Doodle</a></li>
      <li class="divider"></li>
      <li><a href="/doodle/aide" class="nav_selected"> Aide</a></li>
      <li class="divider"></li>
      <li><a href="/doodle/about" class="nav"> À propos </a></li>
    </ul>
  </div>
  <div id="main_content">
    <div id="middle_banner">
      <div class="middle_banner_content"></div>
    </div>
    <div id="wide_content">
      <h1 style="clear:both;">Redirections</h1>
      <p>En cas de page demandée non existante ou en cas de problème l'utilisateur sera redirigé vers la page home.</p>
      </br>
      <h1 style="clear:both;">Choix utilisateur du sondage</h1>
        <p>Le minimum de choix entré pour pouvoir crée un sondage doit être de 1. </br>L'utilisateur est rédirigé s'il n'entre pas au moins 1 choix possible.</p>
      </br>
      <h1 style="clear:both;">Diagrammes circulaires</h1>
	<center><img src="/views/images/pie.png" alt="Diagramme circulaire" /></center>
	</br>
	<p style="font-style: italic; font-weight: bold; margin-left: 40%;">Diagramme circulaire</p>
	</br>
        <p>Il est généré sous formes d'images au format png pour pouvoir être téléchargé par l'utilisateur si besoin est. </br>Le diagramme circulaire est crée à partir des résulats du sondage. Les statisques relatives à celui-ci sont consultables à partir des légendes.</p>
    </div>

    <div id="footer">Project WEB Design &copy; 2014 <br />
      By <a style="color: #FF6600; text-decoration: underline;">Project Team</a> </div>
  </div>
</div>
</body>
</html>
