<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Beez Design</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<link rel="stylesheet" type="text/css" href="views/style.css" />
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="views/iecss.css" />
<![endif]-->
</head>
<body>
<div id="main_container">
  <div class="top_illustration"></div>
  <div id="header">
    <div class="logo"> <img src="/views/images/logo.jpeg" alt="logo doodle" border="0" /> </div>
  </div>
  <div id="menu_tab">
    <ul class="menu" style="margin-right: 10%;">
      <li><a href="/doodle" class="nav_selected"> Home </a></li>
      <li class="divider"></li>
      <li><a href="/doodle/creation" class="nav"> Doodle</a></li>
      <li class="divider"></li>
      <li><a href="doodle/aide" class="nav"> Aide</a></li>
      <li class="divider"></li>
      <li><a href="/doodle/about" class="nav"> À propos </a></li>
    </ul>
  </div>
  <div id="main_content">
    <div id="middle_banner">
      <div class="middle_banner_content"></div>
    </div>
    <div id="left_content">
      <h1>Inspirations</h1>
      <p> Application WEB inspirée du célèbre : </p>
      </br>
      <img style="margin-left: 40%;" src="/views/images/doodle_logo.png" alt="logo doodle" class="left_img" />
      </br>
      </br>
      </br>
      </br>
      <p> Cette application a pour objectif de pouvoir recueillir les opinions des personnes souhaitées.</p>
      <p>Notre application WEB a pour particularité en plus d'intégrer certaines fonctionnalités de doodle, de convertir les résultats sous forme de diagramme circulaire.</p>
      </br>
    </div>
    <div id="right_content">
      <h1>Dernières nouveautés</h1>
      <p class="news"> <img src="views/images/icon2.png" alt="graph à barre" class="left_img" /> Résultats désormais disponibles sous formes de graphiques. Avec les statisques associées écrites.</p>
      <p class="news"> <img src="views/images/icon3.png" alt="ordinateur" class="left_img" /> Création de la page d'aide, amélioration des performances du système de sondage pour plus de confort.</p>
      <p class="news"> <img src="views/images/icon1.png" alt="graph circulaire" class="left_img" /> Les graphiques sont désormais générés sous formes d'images au format png pour pouvoir être téléchargés. </p>
    </div>
    <div id="footer">Project WEB Design &copy; 2014 <br />
      By <a style="color: #FF6600; text-decoration: underline;">Project Team</a> </div>
  </div>
</div>
</body>
</html>
